# Data files
data/attachments-AIConsult2020/
data/*.csv

# Python
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# PyCharm
.idea/

# Anaconda
anaconda_projects/

# Virtual documents
.virtual_documents/